{erl_opts, [debug_info]}.
{plugins, [rebar3_run]}.

{deps, [
    eper,
    recon,
    {gen_rpc, {git, "https://github.com/priestjim/gen_rpc.git", {branch, "master"}}},
    {lager,   {git, "git@github.com:erlang-lager/lager.git", {tag, "3.6.4"}}}
]}.

{relx, [{release, { newborn, "0.1.0" },
         [newborn,
          gen_rpc,
          recon,
          eper,
          sasl]},
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true},
        {overlay_vars, "config/vars.config"},    
        {overlay, [
          {template, "./config/vm.args", "releases/0.1.0/vm.args"},
          {template, "./config/sys.config", "releases/0.1.0/sys.config"}
        ]} 
]
}.

{profiles, [
  {prod, [{relx, [{dev_mode, false}, {include_erts, true}]}]},
  {dev1, [{relx, [{overlay_vars, ["config/vars_dev1.config"]}]}]},
  {dev2, [{relx, [{overlay_vars, ["config/vars_dev2.config"]}]}]},
  {dev3, [{relx, [{overlay_vars, ["config/vars_dev3.config"]}]}]}
]
}.

% {overrides,
%  [ {override, foo,[ ] } ] 
% }.
