[
  { newborn, [
    {node_name, 'default@127.0.0.1'},
    {erlang_cookie, 'erlang' }
  ]},

  { gen_rpc, [
    {tcp_server_port, 9940},
    {tcp_client_port, 9941},
    {client_config_per_node, {internal, #{ 
        'default@127.0.0.1' => 9940,
        'dev2@127.0.0.1' => 9950, 
        'dev2@127.0.0.1' => 9960, 
        'dev3@127.0.0.1' => 9970 
        }
      }
    } 
  ]
  }
].